<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEKELE - Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

    <style>
        *{
            margin: 0%;
            padding:0%;
            font-family: 'Poppins';
            text-decoration: none;
        }

        .container{
            background-color: #ccbcac;
            width: 400px;
            justify-content: center;
            margin-top : 5%;
            margin-bottom: 5%;
            border-radius: 23px;
            padding: 2%;
        }

        h1{
            text-align: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 96px;
            /* identical to box height */

            color: #222222;
        }

        input[type="text"], input[type="password"]
        {
            width: 80%;
            margin: 5% 10%;
            padding-top: 5%;
            padding-bottom: 5%;
            border-radius: 10px;
            border-style: none;
            outline: none;
            text-align: center;
        }

        input[type="submit"]{
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            color: #222222;
            border-style: none;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        input[type="submit"]:hover{
            background-color: #fbfbfb;
            color: #222222;
        }
    </style>

<body>
    <div class="container">
        <h1>Login</h1>
        <form action="" method="POST">{% csrf_token %}
            <input type="text" autocomplete="off" placeholder="Username" name="username">
            <input type="password" autocomplete="off" placeholder="Password" name="password">
            <input type="submit" class="btn btn-primary" value="Login">
            {{ form.errors }}
        </form>

        <p style="text-align: center;">Don't have an account ?<span><a href="{% url 'story9:register' %}" style="color: #7d7d7d;" >Sign up</a></span></p>
    </div>  
</body>
</html>