<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

    <style>
        *{
            margin: 0%;
            padding:0%;
            font-family: 'Poppins';
            text-decoration: none;
        }

        .container{
            background-color: #ccbcac;
            width: 30%;
            justify-content: center;
            margin-top : 5%;
            margin-bottom: 5%;
            border-radius: 23px;
            padding: 2%;
        }

        h1{
            text-align: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 96px;
            /* identical to box height */

            color: #222222;
        }

        h4{
            justify-content: center;
            text-align: right;
            margin: auto;
            font-size: 22px;
        }

        td{
            width: 50%;
        }

        input[type="text"], input[type="password"]
        {
            width: 100%;
            margin: 0% 0%;
            padding-top: 2%;
            padding-bottom: 2%;
            border-radius: 10px;
            border-style: none;
            outline: none;
            text-align: left;
            padding-left: 3%;
        }

        input[type="submit"]{
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            color: #222222;
            border-style: none;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        input[type="submit"]:hover{
            background-color: #fbfbfb;
            color: #222222;
        }
    </style>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="" method="POST">{% csrf_token %}
            <div class="table-responsive table-borderless justify-content-center">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><h4>Username</h4></td>
                            <td><input type="text" autocomplete="off" name="username" placeholder="Input your username"></td>
                        </tr>
                        <tr>
                            <td><h4>Password</h4></td>
                            <td><input type="password" autocomplete="off" name="password1" placeholder="Input your password"></td>
                        </tr>
                        <tr>
                            <td><h4>Confirm Password</h4></td>
                            <td><input type="password" autocomplete="off" name="password2" placeholder="Confirm your password"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" autocomplete="off" name="" placeholder="Confirm your password" value="Register">
                {{ form.errors }}
            </div>
        </form>

        <p style="text-align: center;">Already have an account ?  <span><a href="{% url 'story9:login' %}" style="color: #7d7d7d;" >Login</a></span></p>
    </div>  
</body>
</html>