{% extends 'base.html' %}

        {% block head %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".accordion-header").click(function(){
                    if ($(this).hasClass("active")){
                        $(this).removeClass("active");
                    }
                    else {
                    $(".accordion-header").removeClass("active");
                    $(this).addClass("active");
                    }
                });
            });

            function moveUp(event){
                event.preventDefault();
                event.stopPropagation();
                $(event.currentTarget.parentNode.parentNode.previousElementSibling).insertAfter($(event.currentTarget.parentNode.parentNode))
            }

            function moveDown(event){
                event.preventDefault();
                event.stopPropagation();
                $(event.currentTarget.parentNode.parentNode).insertAfter($(event.currentTarget.parentNode.parentNode.nextElementSibling))
            }

        </script>
        <style>
            .wrapper{
                padding: 20px;
            }

            .wrapper .accordion-wrapper .accordion-header{
                width: 100%;
                background: #ffffff;
                border-bottom: 2px solid black;
                font-size: 25px;
                padding: 5px;
                font-weight: bold;
            }

            button {
                border: 1px solid black;
                background: none;
                padding: 5px;
                font-size: 17px;
                float: right;
                margin-right: 5px;
            
            }

            button:active {
                background: #7d7d7d;
            }

            .wrapper .accordion-wrapper .accordion-header:hover{
                color: #7d7d7d;
            }

            .wrapper .accordion-wrapper .accordion-body{
                width: 100%;
                height: 0px;
                transition: all 0.5s ease;
                overflow: hidden;
                margin: 5px;
            }

            .wrapper .accordion-wrapper .accordion-body p{
                padding: 15px;
                font-size: 20px;
                line-height: 22px;
            }

            .wrapper .accordion-wrapper .accordion-header.active{
                color: #7d7d7d;
            }

            .wrapper .accordion-wrapper .accordion-header.active + .accordion-body{
                height: 150px;
            }


        </style>
        {% endblock %}
        {% block content %}
        <div class="wrapper">
            <div class="accordion-wrapper">
                <div class='accordion-header'>
                    Aktivitas saat ini
                    <button onclick="moveUp(event)">UP</button>
                    <button onclick="moveDown(event)">DOWN</button>
                </div>
                <div class="accordion-body">
                    <p>Mahasiswa jurusan Ilmu Komputer di Universitas Indonesia</p>
                </div>
            </div>
            <div class="accordion-wrapper">
                <div class='accordion-header'>
                    Pengalaman organisasi
                    <button onclick="moveUp(event)">UP</button>
                    <button onclick="moveDown(event)">DOWN</button>
                </div>
                <div class="accordion-body">
                    <p>-</p>
                </div>
            </div>
            <div class="accordion-wrapper">
                <div class='accordion-header'>
                    Prestasi
                    <button onclick="moveUp(event)">UP</button>
                    <button onclick="moveDown(event)">DOWN</button>
                </div>
                <div class="accordion-body">
                    <p>-</p>
                </div>
            </div>
            <div class="accordion-wrapper">
                <div class='accordion-header'>
                    Hobi
                    <button onclick="moveUp(event)">UP</button>
                    <button onclick="moveDown(event)">DOWN</button>
                </div>
                <div class="accordion-body">
                    <p>Bermain game dan tidur</p>
                </div>
            </div>
        </div>
        {% endblock %}

