{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hernowo Ari Sutanto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="box-top">
            <div class="container">
                <img src="{% static 'images/fotodiri.jpg' %}" class="photo-box" style="display:inline-block;">
                <div class="text-box">
                    <h1>Tentangku...</h1>
                    <p>Halo, nama saya Hernowo Ari Sutanto, biasa dipanggil Hernowo, Nowo, atau Owo.<br>
                        Saya saat ini adalah seorang mahasiswa jurusan Ilmu Komputer di Universitas Indonesia.<br>
                        Hal yang biasa saya lakukan diwaktu luang adalah bermain video game.<br>
                    </p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:profile'%}">Data diri</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:sekolah'%}">Riwayat sekolah</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:games'%}">Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:watchlist'%}">Watchlist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:story1'%}">Story 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:matakuliah'%}">Mata Kuliah</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:forms'%}">Isian Mata Kuliah</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story7:accordion'%}">Story 7</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story8:halaman'%}">Story 8</a>
                </li>
              </ul>
              {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Halo, {{ user.get_username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story9:logout' %}">LOGOUT</a>
                </li>
              </ul>
              {% else %}

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story9:register' %}">SIGN UP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story9:login' %}">LOGIN</a>
                </li>
              </ul>
              {% endif %}
            </div>
          </nav>        
  {% block content %}
  {% endblock content %}
  <div class="box-bot" >
    <h1 class="text-box" style="color: white;"> Kontak </h1>
    <div class="box-kontak">
      <div class="box-logo">
        <a href="https://www.instagram.com/hernowo.arisutanto/" target="_blank">
        <span><img src="{% static 'images/iglogo.png'%}" width="50"></span> hernowo.arisutanto</a>
      </div>
      <div class="box-logo-steam">
        <a href="https://steamcommunity.com/id/BadBadtzMARU" target="_blank">
        <span><img src="{% static 'images/steamlogo.png'%}" width="50"></span> https://steamcommunity.com/id/BadBadtzMARU</a>
      </div>
      <div class="box-logo">
        <a href="https://www.facebook.com/hernowo.arisutanto/" target="_blank">
        <span><img src="{% static 'images/facebook-logo.png'%}" width="35" height="50">  Hernowo Ari Sutanto</span></a>
      </div>
    </div>
  </div>
</body>
</html>
