{% extends 'base.html'%}
{% load static %}

{%block content%}
<form action="" method="POST">
    {% csrf_token %}
    <table>
      <tr>
        <td><p>Nama Mata Kuliah</p></td>
        <td><p><input type="text" name="namaMatkul" placeholder="Nama mata kuliah" class></p></td>
      </tr>
      <tr>
        <td><p>Nama Dosen/Pengajar</p></td>
        <td><p><input type="text" name="dosenMatkul" placeholder="Nama dosen/pengajar" class></p></td>
      </tr>
      <tr>
        <td><p>Jumlah SKS</p></td>
        <td><p><input type="text" name="sksMatkul" placeholder="Jumlah SKS" class></p></td>
      </tr>
      <tr>
        <td><p>Deskripsi</p></td>
        <td><p><input type="text" name="deskripsiMatkul" placeholder="Deskripsi" class></p></td>
      </tr>
      <tr>
        <td><p>Semester</p></td>
        <td><p><input type="text" name="semesterMatkul" placeholder="Semester" class></p></td>
      </tr>
      <tr>
        <td><p>Ruang</p></td>
        <td><p><input type="text" name="ruangMatkul" placeholder="Ruang" class></p></td>
      </tr>
    </table>
   
    <input type="submit" value="Submit">
</form>
{%endblock%}
