{% extends 'base.html'%}
{% load static %}

{%block content%}
<div class="text-box">
    <h1 class="text-box" style="display: block;">Played Games</h1>
    <ul>
      <li><h2 style="display: block;">Dota 2</h2></li>
      <li><h2 style="display: block;">CSGO</h2></li>
      <li><h2 style="display: block;">Valorant</h2></li>
    </ul>
</div>
{%endblock%}
        