{% extends 'base.html'%}
{% load static %}

{%block content%}
<form action="" method="POST">
    {% csrf_token %}
    <table>
      <tr>
        <td><p>Nama</p></td>
        <td><p><input type="text" name="namaMatkul" placeholder="Nama mata kuliah" class></p></td>
      </tr>
      <tr>
        <td><p>Kegiatan</p></td>
        <td><p><input type="text" name="dosenMatkul" placeholder="Nama dosen/pengajar" class></p></td>
      </tr>
    </table>
   
    <input type="submit" value="Submit">
</form>
{%endblock%}
