{% extends 'base.html'%}
{% load static %}

{%block content%}
<div class="text-box">
    <h2>Mata Kuliah</h2>
    <table>
        <tr>
            <th>Nama Mata Kuliah</th>
            <th>Nama Dosen Pengampu</th>
            <th>SKS</th>
            <th>Deskripsi</th>
            <th>Semester</th>
            <th>Ruang</th>
        </tr>
        <tr>
        {% for matkul in matakuliah %}
        <td>{{ matkul.namaMatkul }}</td>
        <td>{{ matkul.dosenMatkul }}</td>
        <td>{{ matkul.sksMatkul }}</td>
        <td>{{ matkul.deskripsiMatkul }}</td>
        <td>{{ matkul.semesterMatkul }}</td>
        <td>{{ matkul.ruangMatkul }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{%endblock%}
