{% extends 'base.html'%}
{% load static %}

{%block content%}
<div class="text-box">
    <h1 class="text-box" style="display: block;">Data diri</h1>
    <p style="display: block; margin: 20px;">Nama     : Hernowo Ari Sutanto <br></p>
    <p style="display: block; margin: 20px;">NPM      : 1906400274 <br></p>
    <p style="display: block; margin: 20px;">Jurusan  : Ilmu Komputer <br></p>
    <p style="display: block; margin: 20px;">Fakultas : Ilmu Komputer <br></p>
    <p style="display: block; margin: 20px;">Angkatan : 2019 <br></p>
</div>
{%endblock%}
        