{% extends 'base.html'%}
{% load static %}

{%block content%}
<div class="text-box">
    <h1 class="text-box" style="display: block;">Riwayat pendidikan</h1>
    <h2 style="display: block; margin-top: 20px;">SD Negeri 20 Mekarjaya</h2>
    <p style="display: block; margin-bottom: 20px;">2007 - 2013</p>
    <h2 style="display: block; margin-top: 20px;">SMP Negeri 4 Depok</h2>    
    <p style="display: block; margin-bottom: 20px;">2013 - 2016</p>
    <h2 style="display: block; margin-top: 20px;">SMA Negeri 1 Depok</h2>
    <p style="display: block; margin-bottom: 20px;">2016 - 2019</p>
</div>
{%endblock%}
        