{% extends 'base.html'%}
{% load static %}

{% block content %}
<h1>Hello...</h1>
<left><img src="{% static 'images/fotodiri.jpg'%}" width="250" height="300"></left>
<h2>Kenalan Yukk</h2>
<p>Halo, nama saya Hernowo Ari Sutanto, biasa dipanggil Hernowo, Nowo, atau Owo.<br>
Saya saat ini adalah seorang mahasiswa jurusan Ilmu Komputer di Universitas Indonesia.<br>
Hal yang biasa saya lakukan diwaktu luang adalah bermain video game.</p>
<h2>Data Diri Singkat</h2>
<ul>
    <li>Nama     :Hernowo Ari Sutanto</li>
    <li>NPM      :1906400274</li>
    <li>Angkatan :Maung (2019)</li>
</ul>
<h2>Riwayat Pendidikan</h2>
<ul>
    <li>SD Negeri 20 Mekarjaya</li>
    <li>SMP Negeri 4 Depok</li>
    <li>SMA Negeri 1 Depok</li>
</ul>
<h2>Kontak</h2>
<ul>
    <li><a href="https://www.instagram.com/hernowo.arisutanto/" target="_blank">
    <span><img src="{% static 'images/iglogo.png'%}" width="50"></span></a></li>
    <li><a href="https://steamcommunity.com/id/BadBadtzMARU" target="_blank">
    <span><img src="{% static 'images/steamlogo.png'%}" width="50"></span></a></li>
</ul> 
{% endblock %}