{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="text-box">
    <h1 class="text-box" style="display: block;">Film/Series yang mau di tonton</h1>
    <ul>
      <li><h3 style="display: block;">Dark</h3>
        <img src="{% static 'images\dark.jpg' %}" style="height: 280px; width: 250px; margin-bottom: 20px;"></li>
      <li><h3 style="display: block;">Blood of Zeus</h3>
        <img src="{% static 'images\Blood-of-Zeus.jpg' %}" style="height: 280px; width: 300px; margin-bottom: 20px;"></li>
      <li><h3 style="display: block;">Dragon Prince</h3>
        <img src="{% static 'images\TheDragonPrince.jpg' %}" style="height: 280px; width: 250px; margin-bottom: 20px;"></li>
    </ul>
</div>
{% endblock %}